.About{
    width: 68%;
    margin: auto;
    overflow-x: visible;
}
.div{
    height: 390px;
    margin: auto;
}
.paragraphe{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 500px;
    margin-top: -500px;
}
.mannequin3{
    position: relative;
    width: auto;
    height: auto;

}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 26px;

    position: relative;
    width: 100px;
    height: 15px;
    left: 1000px;
    top: auto;
   border-radius:10px;
    text-decoration: none;
    color: rgba(0,0,0,0.9);

    /* Black */

    background: #367dc5;
}
.button:hover{
    color: white;
    background: #367dc5;
}