.footer{
    text-align: center;
    display: grid;
    align-items: center;
    color: white;
    position: relative;
    background-color: rgba(18, 19, 20, 0.904);
    width:1910px;
    left: calc(-50vw +  50%);
    height: 130px;

}
.QR{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: left;
    left: 88%;
    top: -10px;
}
.textFooter{
    position: relative;
    top: 50px;
}