.product-item {
    height: 370px;
    width: 265px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    position: relative;
}

.item-cover {
    border-radius: 10px;
    height: 170px;
    width: 265px;
}

.titre {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(20, 19, 19, 0.918);
}

.star {
    text-align: center;
    margin-top: 10px;
}

.str {
    margin-bottom: 15px;
}

.Price {
    text-align: center;
}

.barre {
    text-decoration: line-through;
    color: gray;
}

.button-bas {
    font-size: 17px;
    height: 35px;
    width: 110px;
    margin-top: 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
}

.sale {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 20px;
    background-color: rgba(18, 19, 20, 0.904);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}